@using Microsoft.AspNetCore.Components.Web
@using Tehno.WebSite.Models
@using Tehno.WebSite.Services;
@inject JsonFileTorroService TorroService
    <div>
        <strong>
            <font style="font-size:16px;">NORMA</font>
            <font style="font-size:16px; color:#00b2b0;">FIX® NORMETTA</font>
        </strong>
    </div>
<h5><b>Traka, kopče i alat za stezanje</b></h5>

    <div class="card-columns-wider">
        <div class="card-wider">
            <img src="/images/normetta.png" class="img-width-normetta">
            <div class="card-body-higher">
                <h5><b>Karakteristike</b></h5>
                <h5>
                    - trake za obujmice materijal W1 cinčano u širinama 5 i 9mm<br />
                    - trake za obujmice materijal w4 inox u širinama 9, 13, 16 i 19mm<br />
                    - kopče za trake širine 5 i 9mm<br />
                    - inox kopče za inox trake širine 9, 13, 16, i 19mm<br />
                    - alat za stezanje inox kopči i inox traka<br />
                    - kopča za filter vreće pocinčana za širinu trake 16 i 19mm<br />
                </h5>

            </div>
            <div class="card-footer">
                <a href="katalozi/NORMAFIX NORMETTA.pdf">
                    <h5>
                        <b>Katalog NORMAFIX® NORMETTA</b>
                    </h5>
                </a>
            </div>
        </div>
    </div>

