@using Microsoft.AspNetCore.Components.Web
@using Tehno.WebSite.Models
@using Tehno.WebSite.Services;
@inject JsonFileTorroService TorroService

<div class="card-columns-wider">
    @foreach (var torro in TorroService.GetPOVRSINSKE())
    {
        <h5>
            <b>@torro.naziv</b>
        </h5>
        <div class="card-wider">
            <img src="@torro.img" class="img-width left-margin">

            <div class="card-footer lampe">
                <small class="text-mutted">
                    <a href="@torro.velicinaimg" class="button">
                        <h5><b>Katalog</b></h5>
                    </a>
                </small>
            </div>
        </div>

    }
</div>
