@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-content">
    <h5 class="contact">

        TehnoNorma d.o.o.<br />

        Zeleni trg 3a<br />

        10000 Zagreb, Hrvatska<br />

        mob: 098/230-780<br />

        tel: 00 385 1 6055 672<br />

        fax: 00 385 1 6055 672<br />

        e-mail: info@tehnonorma.hr<br />



        Marinko Burnać dipl.oec<br />
    </h5>
    

</div>