@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-content">
    <h5 class="text-nama">
        Dobrodošli na stranice tvrtke <b>TEHNONORMA d.o.o</b><br />
        U našem prodajnom programu možete pronaći široki asortiman proizvoda namijenjenih tehnici pričvršćenja<br />
        i spajanja za sve vrste crijeva,cijevi i cjevovoda kao i za kablove.<br />
        Također Vam nudimo visokokvalitetan asortiman Industrijskih četki Njemačkog proizvođača <b>MINK</b><br />
        Kao i visokokvalitetan program Industrijskih svjetiljki TECHMALUX od Njemačkog proizvođača <b>FKB</b><br />
    </h5>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img class="banner" src="~/images/banner1.png">
        </div>

        <div class="mySlides fade">
            <img class="banner" src="~/images/baner4.png">
        </div>
        <div class="mySlides fade">
            <img class="banner" src="~/images/baner5.png">
        </div>
        <div class="mySlides fade">
            <img class="banner" src="~/images/baner6.png">
        </div>
        <div class="mySlides fade">
            <img class="banner" src="~/images/slide_norma__19331-dodat cobru.jpg">
        </div>
    </div>



</div>




<br>


<script>
    var slideIndex = 0;
    var slideIndex2 = 0;

    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }

        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }

</script>
<script>

    function showSlides2() {
        var k;
        var slides2 = document.getElementsByClassName("mySlidess");
        for (k = 0; k < slides2.length; k++) {
            slides2[k].style.display = "none";
        }
        slideIndex2++;
        if (slideIndex2 > slides2.length) { slideIndex2 = 1 }

        slides2[slideIndex2 - 1].style.display = "block";
        setTimeout(showSlides2, 2000); // Change image every 2 seconds
    }


</script>
