@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-content">

    <h5 class="text-nama">
        Tvrtka <b>TEHNONORMA d.o.o.</b> osnovana je sa sjedištem u Zagrebu.<br />
        <br />
        Osnovna djelatnost tvrtke je veleprodaja dijelova za stezanje i spajanje <br />
        kao i veleprodaja industrijskih četki i industrijskih svjetiljki.<br />
        <br />
        U prodajnom asortimanu dijelova za stezanje i spajanje nudimo širok izbor kvalitetnih obujmica<br />
        za različite vrste i uvjete stezanja i spajanja od poznatog njemačkog proizvođača<br />
        <b>NORMAGROUP</b>.<br />
        U ponudi istog dobavljača također se nalaze i PVC proizvodi kao što su <i>flexibilne</i><br />
        <i>cijevi i posude, priključci, spojnice,priveznice</i> za različite medije kao što su rashladna<br />
        tekućina, ulje, zrak i gorivo.<br />
        Tu je i novi NORMIN proizvod, visokokvalitetna <b><i>PVC tlačna spojnica PN 16</i></b><br />
        za navodnjavanje i industriju.<br />
        <br />
        U ponudi su također <i>proizvodi za stezanje i pričvršćenje</i> Njemačkih tvrtki<br />
        <b>BANDIMEX, FKB, MEFA, SCHNEIDER, OS SCHELLEN, MESMA, HS</b> i drugih<br />
        <br />
        U ponudi je i asortiman kvalitetnih <i>Industrijskih četki</i> od poznatog Njemačkog proizvođača <b>MINK</b><br />
        Od renomiranog Njemačkog proizvođača <b>FKB</b> nudimo program kvalitetnih <i>industrijskih svjetiljki</i><br />
        pod nazivom <b>TECHMALUX</b><br />
        <br />
        Sav navedeni prodajni program nalazi svoju primjenu u slijedećim djelatnostima:<br />
        <br />
        -automobilska, prehrambena, farmaceutska, građevinska, naftna industrija<br />
        -brodogradnja, vodoprivreda i navodnjavanje, sistemi cijevi i cjevovoda<br />
        -proizvodnja lokomotiva, tramvaja i vagona, proizvodnja poljoprivrednih strojeva<br />
        -proizvodnja rashladnih, ispušnih i sustava odprašivanja, zrakoplovstvo....itd<br />
        <br />
        Nadamo se da ćete u našem prodajnom programu pronaći kvalitetan proizvod koji odgovara<br />
        Vašim zahtijevima a mi ćemo nastojati svojim kvalitetnim radom, iskustvom i ažurnošću udovoljiti<br />
        tim zahtjevima.
    </h5>
    </div>